
    * {
        margin: 0;
        padding: 0;
    }
    .container {
        position: absolute;
        width: 300px;
        height: 160px;
        top: 100px;
        left: 100px;
        /*border: 1px solid black;*/
        overflow: hidden;
        background: gray;
        border-radius:5px;
    }

    .title {
        position: relative;
        cursor: move;
        margin: 5px;
        height: 27px;
            top: 0px;
            /*background: green;*/
    }

    .des {
        line-height: 24px;
        font-size: 16px;
        border-bottom: 1px solid black;
    }

    .labelController {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .labelController a {

        float: left;
        width: 21px;
        height: 20px;

        top: 0px;
        margin-left: 5px;
    }

    .min {
        display: block;
        background: url(img/tool.png) no-repeat;
        background-position: -29px 1px;
    }
    .min-change{
        display: block;
        background: url(img/tool.png) no-repeat;
        background-position: -29px -28px;
    }
    .empty{
        display: block;
        background: url(img/tool.png) no-repeat;
        background-position: 0px 0px;
        width: 21px;
        height: 20px;
        display: none;
        margin: 0 auto;
    }
    .max {
        display: block;
        background: url(img/tool.png) no-repeat;
        background-position: -60px 1px;
    }
    .recover {

        background: url(img/tool.png) no-repeat;
        background-position: -149px 1px;
        display: none;
    }
    .recover-change {
        background: url(img/tool.png) no-repeat;
        background-position: -149px -28px;
        display: none;
    }

    .max-change {
            display: block;
        background: url(img/tool.png) no-repeat;
        background-position: -60px -28px;
    }
    .close {
            display: block;
        background: url(img/tool.png) no-repeat;
        background-position: -89px 1px;
    }
    .close-change {
            display: block;
        background: url(img/tool.png) no-repeat;
        background-position: -89px -28px;
    }
    .contents{

    font-size: 14px;
    margin: 0 5px;

    }
    .LControlLabel{;
        position: absolute;
        top: 0px;
        width: 5px;
        height: 100%;
        left: 0px;
        cursor: w-resize;
    }
    .RControlLabel{
        position: absolute;
        top: 0px;
        width: 5px;
        height: 100%;
        right: 0px;
        cursor: w-resize;
    }
    .TControlLabel{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 5px;
        cursor: n-resize;
    }
    .BControlLabel{
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0px;
        cursor: n-resize;
    }
    .LBControlLabel{
        position: absolute;
        width: 8px;
        height: 8px;
        bottom: 0px;
        left: 0px;
        cursor: sw-resize;
    }
    .RBControlLabel{
        position: absolute;
        width: 8px;
        height: 8px;
        bottom: 0px;
        right: 0px;
        background: url(img/resize.png) no-repeat;
        background-position: -5px -3px;
        cursor: nw-resize;
    }
    .LTControlLabel{
        position: absolute;
        width: 8px;
        height: 8px;
        top: 0px;
        left: 0px;
        cursor: nw-resize;
    }
    .RTControlLabel{
        position: absolute;
        width: 8px;
        height: 8px;
        top: 0px;
        right: 0px;
        cursor: ne-resize;
    }
